.about {
    padding: 100px 0 124px;
}

.about__content {
    display: flex;
    justify-content: space-between;

    position: relative;

    .text-block {
        .about__img {
            display: none;
        }
    }
}

.about__img {
    position: absolute;
    bottom: 0;
    right: -230px;
    z-index: 2;

    img {
        max-width: 100%;
    }

    @media (max-width: 1900px) {
        position: static;
    }
}

@media (max-width: $tablets) {
    .about {
        background: url("../img/bg/mobile/bg_03.jpg") top left/cover no-repeat;
    }
    .about__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about__img {
            display: none;
        }

        .text-block {
            .about__img {
                display: block;
            }
        }
    }

    .about__img {
        margin-top: 60px;
    }
}
