.blog {
    padding-bottom: 192px;
}

.blog__content {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;
    }

    .custom__link {
        display: none;
    }
}

.blog__item {
    max-width: 370px;
    min-height: 400px;
    padding: 50px 40px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: none;
    border: 1px solid #b3bed1;

    border-radius: 18px;
    transition: background ease-out 0.2s;

    .item-1 {
        color: #fe6686;
    }
    .item-2 {
        color: #54d6a1;
    }
    .item-3 {
        color: #fe9a3f;
    }

    &:hover {
        background: #fff;
        border: 1px solid #fff;
    }

    h4 {
        font-size: 18px;
    }

    h3 {
        margin: 15px 0 30px;
        font-size: 24px;
    }

    .blog__text {
        font-family: $roboto;
        font-size: 20px;
        font-weight: 400;
        color: $gray;
    }
}

.blog__text-wrapper {
    max-width: 280px;
}

.blog__social {
    padding-top: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__author {
    display: flex;
    align-items: center;

    img {
        max-width: 100%;
        margin-right: 15px;
    }

    span {
        font-size: 20px;
    }
}

.blog__likes {
    color: #adb0ba;
    display: flex;
    align-items: center;
    font-size: 18px;

    .icon {
        width: 21px;
        height: 21px;
        margin-right: 10px;
    }
}

@media(max-width:$tablets) {
    .blog {
        .section-header {
            .custom__link {
                display: none;
            }
        }
    }

    .blog__item {
        padding: 30px 20px 30px;
    }

    .blog__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            margin-bottom: 60px;
        }

        .custom__link {
            display: block;
        }
    }
}

@media(max-width:$iphone-x) {
    .blog__author {
        span {
            font-size: 16px;
        }
    }
}




