.btn {
    padding: 25px 60px;

    background: $pink;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 10px 18px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;

    transition: all ease-out 0.2s;

    &:hover {
        background: darken($pink, 10%) ;
    }

    a {
        font-family: $overpass;
        font-weight: 800;
        font-size: 24px;
        line-height: 1.2;
        color: #fff;
        text-decoration: none;
    }
    
}