.card {
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    &--intro {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }

        padding: 0 50px;
        border-radius: 18px;

        &--1 {
            border: solid 6px #fcd7df;
        }
        &--2 {
            border: solid 6px #c9f3e2;
        }
        &--3 {
            border: solid 6px #f2d5ba;
        }

    }

    &--service {
        background: #fff;

        padding: 0 40px;
        border-radius: 24px;
    }

}

.card__img {
    margin-top: 70px;
    img {
        max-width: 100%;
    }
}

.card__info {
    max-width: 270px;
    margin-top: 30px;

    &--service {
        max-width: 285px;
    }
}

.card__header {
    margin-bottom: 15px;
    font-size: 30px;
}

.card__text {
    font-family: $roboto;
    color: $gray;
    font-size: 20px;
}