
.header__content {
    display: flex;
    justify-content: space-between;

    position: relative;

    img {
        max-width: 100%;

        @media (min-width: 1920px) {
            position: absolute;
            top: 0;
            right: -300px;
        }
    }
}

@media (max-width: $tablets) {
    .header__content {
        display: block;
        padding-top: 120px;

        .text-block {
            margin-bottom: 60px;

            h1 {
                font-size: 60px;
            }
        }
    }
}

@media (max-width: $phone-big) {
    .header__content {
        padding-top: 130px;
        .text-block {
            h1 {
                font-size: 45px;
            }

            .text-block__text {
                margin: 40px 0;
                font-size: 24px;
            }

        }
    }
}

@media (max-width: $iphone-x) {
    .header__content {
        .text-block {
            h1 {
                font-size: 36px;
            }
        }
    }
}
