.header {
    margin-bottom: 210px;

}

.header__content {
    display: flex;
    justify-content: space-between;

    position: relative;

    img {
        max-width: 100%;

        @media (min-width: 1920px) {
            position: absolute;
            top: 0;
            right: -300px;
        }
    }
}
