

.intro__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: $tablets) {
    .intro__cards {
        flex-direction: column;
        justify-content: center;
    }
}
