.intro {
    padding-bottom: 117px;
}

.intro__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: $tablets) {
    .intro {
        background: url("../img/bg/mobile/bg_02.jpg") top left/cover no-repeat;
    }
    .intro__cards {
        flex-direction: column;
        justify-content: center;
    }
}
