.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 60px;
    margin-bottom: 170px;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__link {
    margin-right: 30px;

    font-family: $overpass;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: $black;


    &:hover {
        text-decoration: underline;
    }

    &--quote {
        padding: 10px 30px;

        font-size: 18px;
        font-weight: 800;
        line-height: 1.2;

        border: solid 2px $pink;
        border-radius: 7px;

        transition: color ease-out 0.2s;


        &:hover {
            text-decoration: none;
            color: $pink;
        }
    }

}