.portfolio__content {
    margin-bottom: 200px;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }
}

