.portfolio {
    padding-bottom: 179px;
}
.portfolio__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }

    &:nth-child(2) {
        img {
            &:first-child {
                display: none;
            }
        }
        
    }
}

@media(max-width: $tablets) {
    .portfolio {
        background: url('../img/bg/mobile/bg_05.jpg') top left/cover no-repeat;
    }
    .portfolio__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 90px;

        img {
            margin-bottom: 60px;
        }

        &:nth-child(2) {
            img {
                &:first-child {
                    display: block;
                }

                &:last-child {
                    display: none;
                }
            }
            
        }
    
        
    }
}

