.portfolio__content {
    margin-bottom: 200px;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }
}

.portfolio__link {
    display: flex;
    justify-content: center;
    

    a {
        color: $black;
        font-size: 18px;
        text-decoration: none;
        position: relative;

        transition: color ease-out 0.2s;
        
        &::before {
            content:"";

            width: 100%;
            height: 2px;
    
            background: $pink;
    
            position: absolute;
            bottom: -10px;
            left: 0;
        }

        &:hover {
            color: $pink;
        }

        
    }

    
    
    
}