.section-header {
    margin: 0 auto;
    padding: 200px 0 130px;
    max-width: 760px;
    text-align: center;

    h3 {
        margin-bottom: 30px;

        font-size: 24px;
        color: $pink;
        text-transform: uppercase;
        letter-spacing: 4.8px;
    }

    h2 {
        font-size: 60px;
    }

    &--service {
        padding: 100px 0 130px;
        margin: 0 0 0 auto;
        text-align: right;
    }

    &--blog {
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        text-align: left;
    }
}

@media (max-width: $tablets) {
    .section-header {
        padding: 100px 0 100px;

        &--blog {
            display: block;

            text-align: center;
        }
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 21px;
    }
}

@media (max-width: $phone-big) {
    .section-header {
        font-size: 45px;

        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 18px;
        }
    }
}

@media (max-width: $iphone-x) {
    .section-header {
        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 16px;
        }
    }
}
