.service-cards {
    display: flex;
    justify-content: space-between;

}

.service-cards__group {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: inherit;

        &:first-child {
            margin-bottom: 30px;
        }
    }

    &.gr-2 {
        margin-top: 90px;
    }

    &.gr-3 {
        margin-top: 180px;
    }

    
}