.slider-item {
    display: flex;
    justify-content: space-between;

    img {
        max-width: 100%;
    }
}

.slider-item__text-block {
    max-width: 560px;
}

.slider-item__supheader {
    font-size: 24px;
    color: $pink;
    letter-spacing: 4.8px;
}

.slider-item__header {
    margin: 30px 0 60px;

    font-size: 60px;
}

.slider-item__quote {
    font-family: $roboto;
    font-size: 24px;
    color: $gray;
}

.slider-item__author {
    margin: 60px 0 30px;
    font-size: 24px;

    display: flex;
    align-items: center;

    span {
        margin-left: 15px;

        font-family: $roboto;
        font-size: 18px;
        color: #adb0ba;
    }

    .line {
        width: 18px;
        height: 2px;
        margin-right: 10px;
        background: #332e98;
    }
}
