.text-block {
    max-width: 570px;
}

.text-block__header {
    font-size: 90px;
    line-height: 1.2;

    &--about {
        font-size: 60px;
    }
}

.text-block__text {
    font-family: $roboto;
    font-size: 30px;
    color: $gray;

    margin: 60px 0;

    &--about {
        font-size: 24px;
        margin: 30px 0 50px;
    }
}
