@import "./vars.scss";
@import "./fonts.scss";

/* Default styles */
body {
    margin: 0;
    max-width: 1920px;
    
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Components */
@import "./components/navbar.scss";
@import "./components/logo.scss";
@import "./components/icons.scss";
@import "./components/header.scss";
@import "./components/text-block.scss";
@import "./components/buttons.scss";