@import "./normalize.scss";
@import "./vars.scss";
@import "./fonts.scss";

/* Default styles */
body {
    margin: 0;
    max-width: 1920px;
    background: url("../img/bg/bg-full.jpg") top no-repeat;

    font-family: $overpass;
    font-weight: 800;
    color: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Components */
@import "./components/buttons.scss";
@import "./components/icons.scss";
@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./components/logo.scss";
@import "./components/text-block.scss";
@import "./components/intro.scss";
@import "./components/section-header.scss";
@import "./components/card.scss";
@import "./components/about.scss";
@import "./components/service.scss";
@import "./components/portfolio.scss";
@import "./components/custom-link.scss";
@import "./components/team.scss";
@import "./components/testimonial.scss";
@import "./components/slider-item.scss";
@import "./vender/tiny-slider.scss";
@import "./components/contact.scss";
@import "./components/form.scss";
@import "./components/blog.scss";
@import "./components/footer.scss";
